<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container cdkColumnDef="photo_url">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <img class="avatar" *ngIf="contact.photo_url" [alt]="contact.first_name"
                 [src]="contact.photo_url"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.first_name}} {{contact.last_name}}</p>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef>E-mail</mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.User.email}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="rg">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>RG</mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="text-truncate">
                {{contact.rg}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="cpf">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CPF</mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
            <p class="text-truncate">
                {{contact.cpf}}
            </p>
        </mat-cell> 
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center"> 

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
             class="contact" 
             [routerLink]="'/propagandistas/' + contact.id"
             [ngClass]="{'mat-light-blue-50-bg':checkboxes[contact.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


